<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        DataSource - HikariCP 커넥션 풀

        접속 정보는 docker-compose.yml의 environment로 주입된다.
        (DB_HOST / DB_PORT / DB_NAME / DB_USER / DB_PASSWORD)
        자격증명을 소스에 남기지 않기 위해 환경변수 참조 방식을 사용한다.

        @modified 2026-07-27 하드코딩된 접속 정보를 환경변수 참조로 교체
    -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="jdbcUrl"
                  value="#{'jdbc:postgresql://' + systemEnvironment['DB_HOST'] + ':' + systemEnvironment['DB_PORT'] + '/' + systemEnvironment['DB_NAME']}"/>
        <property name="username" value="#{systemEnvironment['DB_USER']}"/>
        <property name="password" value="#{systemEnvironment['DB_PASSWORD']}"/>
        <property name="maximumPoolSize" value="10"/>
        <property name="minimumIdle" value="2"/>
        <property name="connectionTimeout" value="30000"/>
        <property name="idleTimeout" value="600000"/>
        <property name="maxLifetime" value="1800000"/>
    </bean>

    <!-- MyBatis SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!-- MyBatis Mapper 자동 스캔 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.retrack.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>


</beans>